html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: $default;
  font-size: 16px;
  line-height: 30px;
  @extend %dmsans-500;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__wide {
  max-width: 1800px;
}

a {
  color: inherit;
  font-size: 14px;
  line-height: 32px;
  @extend %rubik-400;
}

.title {
  margin-bottom: 30px;
  font-size: 36px;
  @extend %dmsans-700;
  color: $title;
}

.filter__buttons {
}

.filter__btn {
  padding: 0 15px;
  @extend %dmsans-700;
  line-height: 1;
  border: none;
  text-transform: capitalize;
  color: $grey;
  background-color: transparent;
  cursor: pointer;
}

.mixitup-control-active {
  color: #1a1a1a;
}
