$accent: #436372;
$default: #243f4d;
$title: #191919;
$grey: #7b7b7b;
$bg: #fef7f0;

%rubik-400 {
  font-family: 'Rubik-Regular',
  sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium',
  sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular',
  sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium',
  sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold',
  sans-serif;
  font-weight: 700;
}

%btn {
  padding: 13px 10px;
  @extend %rubik-400;
  line-height: 1;
  text-transform: capitalize;
  color: #fff;
  background-color: #a3bbc8;
}

%checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}