@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  // &__container {
  //   max-width: 1800px;
  // }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  @extend %rubik-500;
  font-size: 36px;
  line-height: 58px;
  color: #436372;
  &__img {
    margin-right: 12px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    padding: 0 2px 1px;
    font-size: 15px;
    line-height: 12px;
    text-transform: capitalize;
    transition: all .3s;
    @extend %rubik-500;
    color: $accent;
    &:hover {
      color: $default;
      border-bottom: 1px solid $default;
    }
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &-search {
      background-color: #edf1f4;
    }
    &-buttons {
      background-color: #a3bbc8;
    }
  }
  &__link-img {
    margin: 0 auto;
    align-self: center;
    justify-self: center;
  }
  &__long {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 0 20px;
    border-radius: 30px;
    background-color: #fcd7b6;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      height: 32px;
      width: 1px;
      background-color: #fff;
    }
  }
  &__num {
    @extend %rubik-400;
    position: absolute;
    top: 20%;
    right: 13%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    color: #000;
    background-color: #fff;
  }
}

.footer {
  color: $grey;
}

.footer-top {
  padding: 70px 0;
  display: flex;
  border-bottom: 1px solid #dae4e9;
  &__contact {
    margin-right: 100px;
    width: 200px;
  }
  &__nav {
    margin-top: 30px;
    margin-right: 130px;
    width: 170px;
  }
  &__item-form {
    margin-top: 30px;
    max-width: 270px;
  }
  &__adress,
  &__email,
  &__phone {
    display: block;
    margin-top: 20px;
  }
  &__title {
    margin-bottom: 25px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #1f2044;
  }
  &__link {
    display: block;
    margin-bottom: 14px;
  }
  &__text {
    margin-bottom: 35px;
  }
  &__form-input {
    padding: 14px 15px 14px;
    max-width: 170px;
    width: 100%;
    border: none;
    font-size: 12px;
    line-height: 1;
    background-color: $bg;
    &::placeholder {
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn {
    margin-left: -1px;
    border: none;
    @extend %btn;
    cursor: pointer;
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  font-size: 14px;
}

.footer-menu {
  &__list {
    display: flex;
  }
  &__item-link {
    padding: 3px 15px;
    text-transform: capitalize;
  }
  &__item+.footer-menu__item .footer-menu__item-link {
    border-left: 1px solid $grey;
  }
}

.top-slider {
  &__container {
    max-width: 1800px;
  }
  &__inner {
    padding-top: 100px;
    padding-bottom: 45px;
    background-color: #fcd7b6;
  }
  &__content {
    padding-top: 120px;
    padding-left: 300px;
  }
  &__item {
    display: flex !important;
  }
  &__title {
    margin-bottom: 40px;
    max-width: 470px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $default;
  }
  &__text {
    margin-bottom: 45px;
    max-width: 370px;
  }
  &__img {
    margin-left: 65px;
  }
  &__link {
    padding: 24px 18px 24px 28px;
    @extend %btn;
  }
  &__link .top-slider__link-img {
    display: inline-block; 
    margin-left: 60px;
  }
  .slick-dots {
    // margin-top: -70px;
    display: flex;
    justify-content: center;
    li {
      padding: 0 5px;
      line-height: 0;
      button {
        position: relative;
        padding: 0;
        width: 30px;
        height: 30px;
        font-size: 10px;
        border: none;
        border-radius: 50%;
        color: $default;
        background-color: rgba(#fff, .3);
      }
      &.slick-active {
        button {
          background-color: rgba(#fff, 1);
        }
      }
    }
  }
}

.info {
  &__inner {
    display: flex;
    background-color: $bg;
  }
  &__item {
    width: 100%;
  }
  &__item + .info__item {
    border-left: 1px solid #e8e4df;
  }
  &__item-inner {
    padding: 50px 0;
    display: flex;
    justify-content: center;
  }
  &__item-textbox {
    margin-left: 20px;
  }
  &__item-title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1;
  }
  &__item-text {
    max-width: 215px;
    color: #585858;
  }
}

.product {
  padding: 75px 0;
  text-align: center;
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
    padding-top: 80px;
  }
  &__item {
    padding: 25px 0 35px;
    max-width: 270px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
  &__item:hover {
    .product__item-linkbox {
      transform: translateY(0);
    }
  }
  &__item-imgbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    height: 225px;
    overflow: hidden;
  }
  &__item-linkbox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 170px;
    height: 45px;
    transform: translateY(300%);
    transition: all .3s;
  }
  &__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    path {
      transition: all .3s;
    }
  }
  &__item-link:hover {
    background-color: #a3bbc8;
    path {
      fill: #fff;
    }
  }
  &__item-price {
    @extend %dmsans-700;
    color: #a3bbc8;
  }
}

.special {
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  &__item {
    padding-top: 85px;
  }
  &__item-inner {
    display: flex;
    justify-content: center;
    max-width: 870px;
    max-height: 390px;
    width: 100%;
    background-color: $bg;
  }
  &__item-img {
    position: relative;
    bottom: 85px;
  }
  &__item-content {
    margin: auto 0;
    margin-left: 60px;
  }
  &__item-title {
    margin-bottom: 20px;
    max-width: 250px;
    font-size: 26px;
    @extend %dmsans-700;
    line-height: 1.2;
  }
  &__item-text {
    margin-bottom: 35px;
    max-width: 340px;
    @extend %rubik-500;
    line-height: 1.8;
  }
  &__item-link {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(#436372, .4);
    font-size: 15px;
    line-height: 0.8;
    color: $accent;
    svg {
      margin-left: 45px;
    }
  }
}

.new-design {
  padding: 100px 0 120px;
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px 30px;
    margin-top: 80px;
    min-height: 525px;
  }
  &__item {
    padding-top: 40px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    background-color: #f8f8f8;
    &:nth-child(3),
    &:nth-child(5) {
      background-position: 190px center;
    }
  }
  &__item-title {
    max-width: 180px;
    font-size: 20px;
    line-height: 1.2;
    @extend %dmsans-700;
    color: #1a1a1a;
  }
  &__item-text {
    @extend %dmsans-700;
    color: #a3bbc8;
  }
}

.video {
  &__popup {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.partners {
  padding: 85px 0;
  background-color: $bg;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 170px;
  }
}

@import 'media';
