@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  &__container {
    max-width: 1800px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  @extend %rubik-500;
  font-size: 36px;
  line-height: 58px;
  color: #436372;
  &__img {
    margin-right: 12px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 35px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    text-transform: capitalize;
    @extend %rubik-500;
    color: $accent;
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &-search {
      background-color: #edf1f4;
    }
    &-buttons {
      background-color: #a3bbc8;
    }
  }
  &__link-img {
    margin: 0 auto;
    align-self: center;
    justify-self: center;
  }
  &__long {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 0 20px;
    border-radius: 30px;
    background-color: #fcd7b6;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      height: 32px;
      width: 1px;
      background-color: #fff;
    }
  }
  &__num {
    @extend %rubik-400;
    position: absolute;
    top: 20%;
    right: 13%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    color: #000;
    background-color: #fff;
  }
}

@import 'media';
