<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/login.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  {% include ('app/modules/_header/_header.html') %}

  <main class="main">
    
    <section class="top">
      <div class="container">
        <h2 class="top__title">Log in</h2>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">
                Home
              </a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">
                Log in
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="modal">
      <div class="container">
        <div class="modal__form">
          <label class="modal__label">
            Username or email address *
            <input class="modal__input" type="text" required>
          </label>
          <label class="modal__label">
            Password *
            <input class="modal__input" type="password" required>
          </label>
          <button class="modal__btn" type="submit">login</button>
          <div class="modal__box">
            <label class="modal__label modal__label--check">
              <input type="checkbox">
              Remember me
            </label>
            <a class="modal__question" href="#">Lost your password?</a>
          </div>
          <p class="modal__question modal__question--nonreg">Not registered? No problem</p>
          <a class=" modal__link-create" href="#">Create an account</a>
        </div>
      </div>
    </section>

    {% include ('app/modules/_partners/_partners.html') %}

  </main>

  {% include ('app/modules/_footer/_footer.html') %}

  <script src="js/main.min.js"></script>
</body>

</html>