.top-slider {
  &__container {
    max-width: 1800px;
  }

  &__inner {
    padding-top: 100px;
    padding-bottom: 45px;
    background-color: #fcd7b6;
  }

  &__content {
    padding-top: 120px;
    padding-left: 300px;
  }

  &__item {
    display: flex !important;
  }

  &__title {
    margin-bottom: 40px;
    max-width: 470px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $default;
  }

  &__text {
    margin-bottom: 45px;
    max-width: 370px;
  }

  &__img {
    margin-left: 65px;
  }

  &__link {
    padding: 24px 18px 24px 28px;
    @extend %btn;
  }

  &__link .top-slider__link-img {
    display: inline-block;
    margin-left: 60px;
  }

  .slick-dots {
    // margin-top: -70px;
    display: flex;
    justify-content: center;

    li {
      padding: 0 5px;
      line-height: 0;

      button {
        position: relative;
        padding: 0;
        width: 30px;
        height: 30px;
        font-size: 10px;
        border: none;
        border-radius: 50%;
        color: $default;
        background-color: rgba(#fff, .3);
      }

      &.slick-active {
        button {
          background-color: rgba(#fff, 1);
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .top-slider {
    &__content {
      padding-left: 40px;
      padding-top: 40px;
    }

    &__img {
      width: 45%;
      object-fit: contain;
    }
  }
}

@media (max-width: 1050px) {
  .top-slider {
    .top-slider__img {
      display: none;
    }
    .slick-dots {
      margin-top: 0;
    }
    &__content {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }
}

@media (max-width: 620px) {
  .top-slider {
    &__inner {
      padding: 45px 0 30px;
    }
    &__title {
      font-size: 44px;
      line-height: 52px;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 375px) {
  .top-slider {
    &__title {
      font-size: 38px;
      line-height: 48px;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}
