.about-info {
  padding: 75px 0;
  background-color: #fcd7b6;

  &__items {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    @extend %dmsans-700;
    color: $default;

    svg {
      margin-bottom: 20px;
    }
  }

  &__item-num {
    margin-bottom: 20px;
    font-size: 36px;
  }

  &__item-text {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .about-info {
    &__items {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 620px) {
  .about-info {
    padding: 30px 0;
    &__item {
      margin-bottom: 10px;
    }
  }
}